/* CAROSEL START */
.carosel{
    top:20px;
	height: 80%;
	position: relative;
	overflow: hidden;
}

.slider{
	height: 100%;
    display: flex;
	width: 400%;
    transition: all 1s;
    justify-content: center;
	align-items: center;
}

.slider section{
    flex-basis: 100%;
    height: 100%;
    display: flex;
    top: 0;
    position: relative;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    opacity:0.7;
    background: white;
	justify-content: center;
	align-items: center;
}

.controls .arrow{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.arrow.left{
	left:10px;
}


.arrow.right{
	right:10px;
}

.controls ul{
	position: absolute;
	display: flex;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	list-style: none;
}

.controls ul li{
	width: 10px;
	height: 10px;
	border: 2px solid #333;
	border-radius: 50px;
	margin: 10px;
	background:#333;
	cursor: pointer;
}

.controls ul li.selected{
	background: transparent;
}

/* TIME LINE START */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


.timeline{
	position: relative;
	width: 100%;
	height: 100%;
	align-content: center;
	justify-content: center;
}

.timeline:before{
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height:100%;
	background: #c5c5c5;
}



.timeline ul{
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
    height: 100vh;
    width: 100%;
	margin: 0;
	padding: 0;

}
.timeline ul li{
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
}

.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}

.timeline ul li:nth-child(even){
	margin-left: 50%;
	float: right;
	text-align: left;
	clear: both;
}

.content{
	padding-bottom: 20px;
}


.timeline ul li:nth-child(odd):before{
	content: '';
	position: absolute;
	top: 24px;
	right: -6px;
	width: 10px;
	height: 10px;
	background: rgba(233,33,99,1);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);

}

.timeline ul li:nth-child(even):before{
	content: '';
	position: absolute;
	top: 24px;
	left: -4px;
	width: 10px;
	height: 10px;
	background: rgba(233,33,99,1);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);

}

.timeline ul li h3{
	font-weight: 600;
	color: rgba(233,33,99,1);
}

.timeline ul li p{
	margin: 10px 0 0;
	padding: 0;
}

.timeline ul li .time h4{
	margin: 0;
	padding:0;
	font-size: 14px;
}

.timeline ul li:nth-child(odd) .time{
	position: absolute;
	top: 12px;
	right: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	color:#fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}

.timeline ul li:nth-child(even) .time{
	position: absolute;
	top: 14px;
	left: -140px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	color:#fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
} */