/* FOR PROJET SECTION	 */
	/* CAROSEL START */
		/* .carosel{
			top:20px;
			height: 80%;
			position: relative;
			overflow: hidden;
		}

		.slider{
			height: 100%;
			display: flex;
			width: 400%;
			transition: all 1s;
			justify-content: center;
			align-items: center;
		}

		.slider section{
			flex-basis: 100%;
			height: 100%;
			display: flex;
			top: 0;
			position: relative;
			border-radius: 25px;
			margin-left: 20px;
			margin-right: 20px;
			opacity:0.7;
			background: white;
			justify-content: center;
			align-items: center;
		}

		.controls .arrow{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
		}

		.arrow.left{
			left:10px;
		}


		.arrow.right{
			right:10px;
		}

		.controls ul{
			position: absolute;
			display: flex;
			bottom: 20px;
			left: 50%;
			transform: translate(-50%);
			list-style: none;
		}

		.controls ul li{
			width: 10px;
			height: 10px;
			border: 2px solid #333;
			border-radius: 50px;
			margin: 10px;
			background:#333;
			cursor: pointer;
		}

		.controls ul li.selected{
			background: transparent;
		} */

	/* GRIDE SECTION START */
		/* .projects-head{
			
			font-family: 'LilitaOne-Regular';
			margin-top: 5vh;
			color: #950740;
			font-size:5vh ;
		
		}
		
		.project-container{
			position: relative;
			margin: 25px 60px;
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: auto auto auto;
			height: auto;
			overflow-y: visible;
		}
		
		.project-container .proj{
			height: 70vh;
			box-shadow: 10px 50px 10px;
		}
		.video {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: -1;
			border: 2px solid #333;
			object-fit:cover;
		}
		
		.proj-content{
			position: relative;
			height: 100%;
			width: 100%;
			margin-bottom:-70vh;
			z-index: 1;
			opacity: 0.99;
			text-align: center;
			color: #fff;
			transition-duration: 0.4s;
			background-color: black;
		}
		
		.proj-content:hover{
			opacity: 0.8;
		}
		.proj-content > h1{
			position: relative;
			top: 10vh;
		}
		
		.proj-content > hr{
			position: relative;
			width: 25vw;
			top: 18vh;
			left: 3vw;
			border: 0;
			height: 3px;
			background: rgba(225,0,0,0.7);
		}
		
		.proj-content > h3{
			position: relative;
			display: inline;
			top: 30vh;
			margin-left: -18vw;
		}
		
		.proj-content > .tools{
			position: relative;
			display: grid;
			z-index: 1;
			grid-template-columns: auto auto;
			top: 26.5vh;
			margin-left: 10vw;
			grid-gap: 5px;
		}
		
		.proj-content span{
			border: 2px solid rgb(145, 142, 142);
			transition-duration: 0.4s;
			border-radius: 20px;
			cursor: default;
		}
		
		.proj-content span:hover{
			opacity: 1;
			color: #000;
			background:rgb(173, 48, 48);
		}
		
		.button-container-project{
			position: absolute;
			display: flex;
			top: 49vh;
			width: 100%;
			justify-content: space-evenly;
		}
		
		
		
		.proj-title{
			z-index: 1;
			max-width: 25vw;
			font-size: 2vw;
			font-family: "Roboto-Regular";
			position: absolute;
		} */
	

/* TIME LINE START */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


.timeline{
	position: relative;
	width: 100%;
	height: 100%;
	align-content: center;
	justify-content: center;
}

.timeline:before{
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height:100%;
	background: #c5c5c5;
}



.timeline ul{
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
    height: 100vh;
    width: 100%;
	margin: 0;
	padding: 0;

}
.timeline ul li{
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
}

.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}

.timeline ul li:nth-child(even){
	margin-left: 50%;
	float: right;
	text-align: left;
	clear: both;
}

.content{
	padding-bottom: 20px;
}


.timeline ul li:nth-child(odd):before{
	content: '';
	position: absolute;
	top: 24px;
	right: -6px;
	width: 10px;
	height: 10px;
	background: rgba(233,33,99,1);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);

}

.timeline ul li:nth-child(even):before{
	content: '';
	position: absolute;
	top: 24px;
	left: -4px;
	width: 10px;
	height: 10px;
	background: rgba(233,33,99,1);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);

}

.timeline ul li h3{
	font-weight: 600;
	color: rgba(233,33,99,1);
}

.timeline ul li p{
	margin: 10px 0 0;
	padding: 0;
}

.timeline ul li .time h4{
	margin: 0;
	padding:0;
	font-size: 14px;
}

.timeline ul li:nth-child(odd) .time{
	position: absolute;
	top: 12px;
	right: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	color:#fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}

.timeline ul li:nth-child(even) .time{
	position: absolute;
	top: 14px;
	left: -140px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	color:#fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
} */