@media screen and (max-width:1024px){
    .nav-links{
        width: 80%;
    }
}

@media screen and (orientation: portrait) , (max-width:480px){
    body{
        overflow-x: hidden;
        /* background: #1b1b1e; */

    }
    .container{
        min-height: 350px;
    }
    .logo{
        margin-left: 0;
    }
    section#home {
        /* z-index: -1; */
        align-content: center;
        justify-content: center;
        /* background: url('../photo/land_page_img.jpg') no-repeat center center/cover; */
    }
    .nav-links{
        position: absolute;
        right: 0px;
        top:0;
        height: 100vh;
        width: 38%;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background: rgba(0, 0, 0, 0.7);
    }

    .nav-links li{
        opacity: 1;
        padding: 0;
        margin: 0 2vh;
    }

    .nav-links li a{
        font-size:2vh;
        letter-spacing: 2px;
    }

    .burger{
        position: absolute;
        z-index: 9999;
        right: 10px;
        height: auto;
        display: block;
        cursor: pointer;
    }

    .burger > div{
        height: 0.8vh;
        width: 8vw;
    }


    .social ul li{
        margin-left: -10px;
        /* margin: 15px 5px 5px 0; */
    }

    #intro{
        padding: 0;
        display: flex;
        flex-direction: column;
        opacity: 1;
    }

    .land_img{
        width:40vh;
        height: auto;
    }
    .hero-content{
        position: relative;
        top: -4vh;
        left: 38%;
        text-align: left;
        font-family: 'DM Sans', sans-serif;
        color: black;
        width: 65%; 
    }
    #home h1{
        color:black ;
        font-size: 5vh;
    }

    #home h5{
        margin: 0;
        font-size: 2vh;
        width: 100%;
        /* color: #4E4E50; */
    }

    #home p{
        margin: 0;
        font-size: 1vh;
        padding-bottom: 8px;
    }

    .button-container-home{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 5vh;
        left: -50%;
        width: auto;
        justify-content: space-between;
    }
    
    .button {
        color: #000;
        background-color: darkgrey;
        padding: 1vh 2vw;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 1.5vh;
        height: 5vh;
        width: 100%;
        border: 2px solid #000;
        transition-duration: 0.4s;
        cursor: pointer;
      }
    .button2 {
        margin-top: 10px;
        margin-left: 0vw;
    }

    #projects{
        overflow-y: visible;
        flex-direction: column;
        background: none;
    }

    .project-content{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .project-container {
        flex-direction: column;
    }

    .project-container section{
        width: 100%;
    }

    .project-container .project-section-name {
        position: relative;
        /* background-color: #38040e; */
        width: 100%;
        height: auto;
        text-align: left;
    }

    .project-head {
        margin: 7vh 0 1.5vh 5vw;
        font-size: 10vw;
    }

    .project-content container{
        transform: translateX(100vw);
        transition: 1.5s all ease-in-out;
    }
    /* .proj1{
        

    } */


    /* .project-content{
        background-color: #250902;
    } */

    .label-up {
        font-size: 3vh;
    }

    .button-container-project .button2 {
        margin-top: 0px;
        margin-left: 10px;
    }

    .project-content::-webkit-scrollbar{
        width: 12px;
        background-color: #F5F5F5;
    }

    .project-content::-webkit-scrollbar-thumb{
        border-radius: 10px;
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
        background-color: #555;
    }

    #aboutme{
        flex-direction: column;
        background: none;
    }

    .aboutme-content{
        flex-direction: column;
    }

    .aboutme-left{
        /* background-color: #7A7A7A; */
        width: 100%;
        height: auto;
    }
    .aboutme-card{
        /* background-color: #8F8F8F; */
        width:100%;
    }

    .aboutme-card .aboutme-info {
        
        margin: 2.5vh auto;
    }

    .aboutme-card .aboutme-text {
        font-size: 2vh;
    }

    .aboutme-content .aboutme-left  h1 {
        position: relative;
        margin: 7vh 0 1.5vh 5vw;
        font-size: 10vw;
    }


    #skills{
        flex-direction: column;
    }

    .skill-content{
        flex-direction: column;
        margin-top: 0;
    }

    .skill-content .skill-section-name {
        position: relative;
        background-color: #05080F;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .skill-head {
        position: relative;
        margin: 7vh 0 1.5vh 5vw;
        font-size: 10vw;
    }

    .skill-card{
        width:100%;
        padding-top: 20px;
        /* background-color: #010820; */
    }

    .skill-card ul li {
        font-size: 2vh;
    }

    .skill-card ul li img {
        height: 5vh;
        width: auto;
    }

    .skill-card ul li p {
        margin-left: 11vw;
        top: -6vh;
    }

    #career{
        flex-direction: column;
    }

    .career-content{
        flex-direction: column;
    }

    .career-left{
        position: relative;
        /* background-color: #05080F; */
        width: 100%;
        height: auto;
        text-align: left;
    }
    
    .career-card{
        /* background-color: #1f1f1f; */
        width:100%;
    }

    .career-left h1 {
        margin: 7vh 0 1.5vh 5vw;
        font-size: 10vw;
    }

    #contact{
        flex-direction: column;
    }

    .contact-content{
        flex-direction: column;
    }

    .contact-left{
        position: relative;
        /* background-color: #333333; */
        width: 100%;
        height: auto;
        text-align: left;
    }
    
    .contact-card{
        /* background-color: #1f1f1f; */
        width:100%;
        padding: 0;
    }

    .contact-head {
        position: relative;
        margin: 7vh 0 1.5vh 5vw;
        font-size: 10vw;
    }

    .contactme-container {
        padding: 0;
    }

    .contact-left h1 {
        margin: 7vh 0 1.5vh 5vw;
        font-size: 10vw;
    }

    .contactme-container .row100 .inputbox {
        
        margin: 0 0;
    }

    .contactme-container .row100 {
        grid-template-columns: auto;
    }
    

    .contactme-container .row100 .inputbox {
        width: 90%;
    }

    .contactme-container .row100 .col {
        margin: 0;
        margin-top: 4vh;
        margin-left: 5vw;
    }
}   



#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* @media screen and (max-width: 640px) {

    .skill-content > section > h1 {
        margin: 6vh 0 1vh 0.5vw;
        font-size: 7vw;
    }

    .skill-card ul li p {
        margin-left: 38px;
        top: -40px;
        font-size: 2vh;
    }

    .aboutme-content > section > h1 {
        margin: 6vh 0 1vh 0.5vw;
        font-size: 7vw;
    }
    
}


@media (min-width: 640px) and (max-width: 1200px) {
    
    .skill-content > section > h1 {
        margin: 9vh 0 2vh 6vw;
        font-size: 5vw;
    }

    .skill-card ul li p {
        margin-left: 60px;
        font-size: 2vw;
    }

    .aboutme-content > section > h1 {
        margin: 6vh 0 2vh 6vw;
        font-size: 8vw;
    }
} */

@media (max-width: 650px){
	.timeline{
		margin-top: 50px;
	}
	.timeline ul{
		display: block;
  	}
	.timeline::before{
		left:20px;
	}
	.timeline ul li:nth-child(even),
	.timeline ul li:nth-child(odd){
		width: 100%;
		text-align: left;
		padding-left: 50px;
		padding-bottom: 50px;
	}
	.timeline ul li:nth-child(odd):before,
	.timeline ul li:nth-child(even):before{
		top: -10px;
		left: 16px;
	}
		
	.timeline ul li:nth-child(odd) .time,
	.timeline ul li:nth-child(even) .time{
		top: -23px;
		left: 50px;
		right: inherit;
	}
}
