*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth;*/
} 

body {
    font-family:'DM Sans', sans-serif ;
    /* background-image: url(/static/photo/land_page_img.jpg) ; */
    background-color: #19171A;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    color: rgb(31, 30, 30);
    /* color: #959794; */
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-y: auto;  
}


/* FOR NAV BAR START */
.navbar{
    display: flex;
    position: fixed;
    width: 100%;    
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 100;
}

.nav-links{
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-around;

}

.nav-links li{
    margin: 0 1rem;
    padding: 3px;
    margin: 0 6px
}

.nav-links li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1vw;
    color: seashell;
}

.nav-links li a:hover{
    color: #E9322E;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #E9322E;
    margin: 5px;
}

.logo{
    color: seashell;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5vw;
    margin-left: 50px;
}
/* FOR NAV BAR END */

/* For Social media icon */

.social{
    z-index: 100;
    position: fixed;
    display: block;
	top: 40%;
}

.social ul{
	list-style-image: none;
	margin-top: 5px;
	padding: 0;
	/* transform: translateX(-260px); */
}

.social ul li{
    display: block;
    margin-left: -7px;
	/* margin: 15px 5px 5px 0; */
	background-color: rgba(68, 67, 67,0.5);
	width: auto;
	text-align: right;
	padding: 3px;
	border-radius: 0 30px 30px 0;
	transition: all 1s;
}


.social ul li.facebook:hover{
	background-color: #3d5999;
}

.social ul li.linkedin:hover{
	background-color: #55acee;
}

.social ul li.github:hover{
	background-color: #dd4b39;
}

.social ul li.Instagram:hover{
	background-color: #e4405f;
}


.social ul li a{
	color: white;
	text-decoration: none;
}


.social ul li i{
    text-align: center;
    margin-left: 7px;
    color: black;
    background-color: white;
    padding: 15%;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    transform: rotate(0deg);
}


.social ul li:hover i{
	transform: rotate(360deg);
	transition: all 1s;
}


/* For socail media icon end */

/* FOR HOME SECTION */
.land_img{
    width:20vw;
    border-radius: 1.5vw 0 0 1.5vw;
    height: auto;
}

#home{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    align-content: center;
    justify-content: center;
 }

#intro{
	margin:0 auto;
    position: static;
    padding: 0 25px 0 0;
    height: fit-content;
    display: flex;
    margin-bottom:50px;
    border-radius: 1.5vw;
    box-shadow: 0 0 15px #E9322E, 0 0 5px #0000FF;
    /* box-shadow: 20px 20px 40px; */
    /* background: rgb(68, 67, 67); */
    background: #959794;
    opacity: 1;
	transition: 2s all ease-in-out;
}

.hero-content{
    position: relative;
    margin: 5vh 0 1vh 1vw;
    /* top: 10vh; */
    /* left: -9.5%; */
    text-align: left;
    font-family: 'DM Sans', sans-serif;
    color: #000;
}

.hero-content span{
    color: #000;
}

.intro-appear{
    opacity: 0;
	transform: translateY(0px);
}

#home h1{
    font-size: 3.5vw;
    /* color: #950740; */
}
#home h5{
    font-size: 2vw;
    /* margin-left: 15%; */
    width: 100%;
    /* color: #4E4E50; */
}

#home p{
    font-size: 1vw;
    /* color: #4E4E50; */
    /* margin-left: 15%; */
    padding-bottom: 8px;
}


.heading{
    font-size: 5vw;
}
.button-container-home {
    position: relative;
    display: flex;
    left: 10%;
    top: 5%;
    width: auto;
}

.button {
    color: #000;
    background-color: darkgrey;
    padding: 1vh 2vh;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 5vh;
    width: 10vw;
    font-size: 1vw;
    border: 2px solid #000;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1:hover {
    /* background-color: rgb(68, 67, 67); */
    background-color: rgba(233, 50, 46,0.8);
    color: white;
  }

  .button2 {
    margin-left: 2vw;
    
    /* margin-top: 10px; */
    /* margin-left: 0vw; */
    
  }

  .button2 a{
    color: #000; 
    text-decoration: none;
  }

  .button2:hover {
    background-color: rgba(233, 50, 46,0.8);
    color: white;
  }

/* FOR PROJECT SECTION */

#projects {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    height: auto;
    /* background: #fff; */
    /* background: linear-gradient(90deg,  #38040e 0%,#38040e 30%,#250902 30%,#250902 100%); */
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
 
.project-container{
    position:relative;
    width: 100%;
    display: flex;
}


.project-container .project-section-name{
    position: relative;
    /* background-color: E9322E; */
    width: 30%;
    /* height: 100%; */
    text-align: left;
}

.project-head {
    position: relative;
    margin: 30vh 5.5vw;
    color: #959794;
    transform: translateX(-100vw);
    transition: 1.5s all ease-in-out;
    font-size: 4vw;
}


.project-content{
    position: relative;
    width: 70%;
    height: 100%;
    display: grid;
    padding: 2.5vw;
    grid-gap: 1vw;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    overflow-x: hidden;
}

.project-content container{
    position: relative;
    border: solid 2px #c5c5c5;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    transform: translateX(100vw);
    transition: 1s all ease-in-out;
}

.project-content container > video{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit:cover; 
    opacity: 1;
}


.proj-bth-container {
    z-index: 10;
    position: absolute;
    width:100%;
    height:100%;
    text-align:center;
    font-family:sans-serif;
}

.proj-btn {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
}


/* BUTTON UP */
.label-up {
    position: relative;
    display:block;
    margin:0px 30px;
    height:100%;
    font-size: 2vw;
    position:relative;
    top: 40%;
    transition:0.5s;
}

.button-container-project{
    position: relative;
    display: flex;
    top: 5vh;
    width: 100%;
    justify-content: space-evenly;
}

.project-content > container:hover  span{
    top: -60%;    
}

.project-content > container:hover  video{
    opacity: 0.1;    
}

  
#video{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
    top:0;
    opacity: 0;
    transition: 2s all ease-in-out;
    z-index: 101;
 }
  
#video section{
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
#video section video{
    width: 40vw;
    /* height: 70vh; */
    background-color: rgba(105,105,105,0.5);
    border-radius: 25px;
    justify-self: center;
    align-self: center;
}
  
.goback{
    color: red;
    cursor: pointer;
}
  
#video section div{
    width: 35vw;
    color: #c5c5c5;
}
  
.video1{
    display:none;  
}
  
.video2{
    display:none;       
}
  
.video3{
    display:none;
}
  
.video4{
    display:none; 
}
  
.cross{
    position: absolute;
    width: 10%;
    height: auto;
    background-color: rgba(149, 151, 148,0.3);
    display: flex;
    /* padding: 1px; */
    top: 20vh;
    align-content: center;
    justify-content: center;
    border-radius: 20vw;
    left: 85vw;
    cursor: pointer;
}


.cross img{
    width: 15%;
    align-self: center;
}

.cross p{
    font-size: 1.2vw;
    width: 50%;
    color: #c5c5c5;
    align-self: center;
    margin-left: 5%;
}
  
.cross hr{
    width: 2vw;
    height: 0.3vh;
    background: oldlace;
    cursor: pointer;
}
  
.cross .cross1{
    transform: translate(-0.1vw, 0.3vh) rotate(135deg)
}
.cross .cross2{
    transform: translate(0vw, 0vh) rotate(45deg);
}

.arrow-back{
    position: absolute;
    width: auto;
    height: auto;
    top: 13vh;
    left: 84vw;
    cursor: pointer;

}

.proj-tools-used{
    position: relative;
    display: grid;
    top: 30vh;
    font-size: 1vw;
    grid-template-columns: auto auto;
}
.proj-tools-used span{
    border: 2px solid #fff;
    border-radius: 10vw;
    margin: 0.5vh 2vw;
    text-align: center;
    padding: 5px;
}

.proj-tools-used span:hover{
    background-color: rgba(68, 67, 67,0.8);
}

#video section div p{
    position: relative;
    top: 35vh;
    font-size: 1.2vw;
}
.pop-up{
    display: none;
}
/* SECTION ABOUT ME START */

#aboutme{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    height: auto;
    /* background: linear-gradient(90deg,  #7A7A7A 0%,#7A7A7A 30%,#8F8F8F 30%,#8F8F8F 100%); */
    overflow-x: hidden;
    overflow-y: visible;
}

.aboutme-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.aboutme-left{
    position: relative;
    width:30%;
    height: 100%;  
    text-align: left;
}

.aboutme-head{
    position: relative;
    margin: 30vh 5.5vw;
    transform: translateX(-100vw);
    transition: 1s all ease-in-out;
    color: #959794;
    font-size: 4vw;
}

.aboutme-card{
    position: relative;
    width:70%;
    height: 100%;
}

.aboutme-card .aboutme-info{
    position: relative;
    width: 90%;
    height: 85%;
    margin: 7.5vh auto;
    color: #c5c5c5;
    /* border-radius: 20px; */
    /* background-color: rgba(255,255,255,0.8); */
    /* box-shadow: 10px 10px 10px; */
}

.aboutme-card .aboutme-text{
    position: relative;
    text-align: left;
    width: inherit;
    height: inherit;
    top: 10px;
    left: 20px;
    
    font-size: 1.5vw;
}

/* SECTION Career START */

#career{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    height: auto;
    /* background: linear-gradient(90deg,  #7A7A7A 0%,#7A7A7A 30%,#8F8F8F 30%,#8F8F8F 100%); */
    overflow-x: hidden;
    overflow-y: hidden;
}



.career-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}


.career-left{
    position: relative;
    width:30%;
    height: 100%; 
    text-align: left;
}

.career-head{
    position: relative;
    margin: 30vh 5.5vw;
    transform: translateX(-100vw);
    transition: 1s all ease-in-out;
    color: #959794;
    font-size: 4vw;
}

.career-card{
    position: relative;
    border: solid 2px  #c5c5c5;
    border-radius: 20px;
    margin: 0 1vw;
    width:70%;
    height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


.timeline{
	position: relative;
	width: 100%;
	height: auto;
	align-content: center;
	justify-content: center;
}
.company-name{
    position: relative;
    text-decoration: none;
    color: #959794;
    transition: all .35s ease;
}

.company-name::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E9322E;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.company-name:hover::before{
    color: #E9322E;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.timeline:before{
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background: #c5c5c5;
}
.timeline:after{
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background: #c5c5c5;
}



.timeline ul{
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
    width: 100%;
	margin: 0;
	padding: 0;

}
.timeline ul li{
	list-style: none;
	position: relative;
	width: 50%;
	padding: 3.5vh 2vw;
}

.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}

.timeline ul li:nth-child(even){
	margin-left: 50%;
	float: right;
	text-align: left;
	clear: both;
}

.content{
	padding-bottom: 20px;
}


.timeline ul li:nth-child(odd):before{
	content: '';
	position: absolute;
	top: 5vh;
	right: -1%;
    width: 0.6vw;
    height: 0.6vw;
	background: #E9322E;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);

}

.timeline ul li:nth-child(even):before{
	content: '';
	position: absolute;
	top: 5vh;
	left: -0.7%;
    width: 0.6vw;
    height: 0.6vw;
	background: #E9322E;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);

}

.timeline ul li h3{
    font-size: 1.60vw;
	font-weight: 600;
	color: #E9322E;
}

.timeline ul li p{
	color: #c5c5c5;
    margin: 10px 0 0;
    padding: 0;
    line-height: 4vh;
    font-size: 1.5vw;
}

.timeline ul li .time h4{
	margin: 0;
	padding:0;
	font-size: 1.25vw;
}

.timeline ul li:nth-child(odd) .time{
	position: absolute;
	top: 3.5vh;
	right: -22vw;
	margin: 0;
	padding: 8px 16px;
	background: #E9322E;
	color:#fff;
	border-radius: 2vw;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}

.timeline ul li:nth-child(even) .time{
	position: absolute;
	top: 3.5vh;
	left: -18vw;
	margin: 0;
	padding: 8px 16px;
	background: #E9322E;
	color:#fff;
	border-radius: 2vw;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}


/* FOR SKILL SECTION */

#skills{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    height: auto;
    /* background: linear-gradient(90deg,  #05080F 0%,#05080F 30%,#010820 30%,#010820 100%); */
    overflow-x: hidden;
    overflow-y: hidden;
}

.skill-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    width: 100%;
    height: 100%;
    /* overflow-y: hidden; */
}


.skill-content .skill-section-name{
    position: relative;
    /* background-color: #E9322E; */
    width: 30%;
    /* height: 100%; */
    text-align: left;
}

.skill-head {
    position: relative;
    margin: 30vh 5.5vw;
    color: #959794;
    font-size: 4vw;
    transform: translateX(-100vw);
    transition: 1.5s all ease-in-out;
}


.skill-card{
    position: relative;
    width:70%;
    /* height: fit-content; */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}


.skill-card section div{
    transform: translateY(100vh);
    transition: 1s all ease-in-out;
    opacity: 0;
}


.skill-card  section > div{
    position: relative;
    background-color: aliceblue;
    width: 70%;
    height: auto;
    margin: 1% 20%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px; 
}

.skill-card  section > div > ul{
    position: relative;
    top: 2vh;
    left: 1vw;
    
}

.skill-card  ul li{
    list-style: none;
    font-size: 1.5vw;
    padding-top: 1px;
}

.skill-card  ul li p{
    position: relative;
    margin-left: 4vw;
    top: -7vh;
}

.skill-card  ul li img{
    position: relative;
    height: auto;
    width: 3vw;
    padding-right: 5px;
    margin-bottom: 10px;
}

/* FOR CONTACT ME SECTION */
#contact{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    height: auto;
    /* background: linear-gradient(90deg,  #7A7A7A 0%,#7A7A7A 30%,#8F8F8F 30%,#8F8F8F 100%); */
    overflow-x: hidden;
    overflow-y: visible;
}

.contact-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}


.contact-left{
    position: relative;
    width:30%;
    height: 100%;
    
    text-align: left;
}

.contact-head{
    position: relative;
    margin: 30vh 5.5vw;
    transform: translateX(-100vw);
    transition: 1s all ease-in-out;
    color:#959794;
    font-size: 4vw;
}

.contact-card{
    position: relative;
    width:70%;
    height: 100%;
    padding: 12vh 0vw;
}

.contactme-container{
    position: relative;
    width: 100%;
    height: 100%;
	padding: 20px;
}		

.contactme-container h2{
	width: 100%;
	color:#E9322E;
	font-size: 36px;
	text-align: center;
	margin-bottom: 10px;
}

.contactme-container .row100{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.contactme-container .row100 .col{
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 5vh 0;
	transition: 0.5s;
	text-align: center;
}

.contactme-container .row100 .inputbox {
    position: relative;
    width: 60%;
    height: 5vh;
    margin: 0 auto;
    color: #E9322E;
}

.contactme-container .row100 .inputbox input, 
.intextarea{
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
    box-shadow: none;
    white-space: pre-wrap;
	outline: none;
	border: none;
	font-size: 1.75vw;
	padding: 0 10px;
	z-index: 1;
	color: #000;
}


.contactme-container .row100 .inputbox .text{
	position: absolute;
	top: 0;
	left: 0;
	line-height: 0vh;
	font-size: 1.5vw;
	padding: 0 10px;
	display: block;
	transition: 0.5s;
	pointer-events: none;
	
}

.contactme-container .row100 .inputbox input:focus + .text, 
.contactme-container .row100 .inputbox input:valid + .text{
	top: -35px;
	left: -10px;
}

 .line{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #E9322E;
	transition: 0.5s;
	border-radius: 2px;
	pointer-events: none;

}

.contactme-container .row100 .inputbox input:focus ~ .line, 
.contactme-container .row100 .inputbox input:valid ~ .line{
	height: 100%;
}

.contactme-contactme-container .row100 .inputbox .textarea{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px 0;
}


.intextarea{
	height: 100%;
	resize: none;

}


.contactme-container .row100 .inputbox textarea:focus + .text,
.contactme-container .row100 .inputbox textarea:valid + .text{
	top: -35px;
	left: -10px;
}

.contactme-container .row100 .inputbox textarea:focus ~ .line,
.contactme-container .row100 .inputbox textarea:valid ~ .line{
	height: 100%;
}

#mobile-number::-webkit-outer-spin-button,
#mobile-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

input[type="submit"]{
	border: none;
	padding: 7px 35px;
	cursor: pointer;
	outline: none;
	background: #E9322E;
	color: #000;
	font-size: 1.5vw;
	border-radius: 2px; 
}