*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'DM Sans', sans-serif ;
    /* background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"); */
    background-position: center;
    background-size: cover;
    background: linear-gradient(90deg,  coral 0%,coral 50%,lightblue 50%,lightblue 100%);
    width: 100%;
    color: #000;
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}


/* FOR NAV BAR START */
.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 9999;
}

.nav-links{
    display: flex;
    width: 40%;
    list-style: none;
    justify-content: space-around;

}

.nav-links li{
    margin: 0 1rem;
    padding: 3px;
    margin: 0 6px
}

.nav-links li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    color: seashell;
}

.nav-links li a:hover{
    color: #950740;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: seashell;
    margin: 5px;
}

.logo{
    color: seashell;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin-left: 50px;
}
/* FOR NAV BAR END */

/* For Social media icon */

.social{
    z-index: 99999;
    position: fixed;
    display: block;
	top: 40%;
}

.social ul{
	list-style-image: none;
	margin-top: 5px;
	padding: 0;
	/* transform: translateX(-260px); */
}

.social ul li{
    display: block;
    margin-left: -7px;
	/* margin: 15px 5px 5px 0; */
	background-color: rgba(0,0,0,0.5);
	width: auto;
	text-align: right;
	padding: 3px;
	border-radius: 0 30px 30px 0;
	transition: all 1s;
}

/* .social ul li:hover{

	transform: translateX(90px);
} */

.social ul li.facebook:hover{
	background-color: #3d5999;
}

.social ul li.twitter:hover{
	background-color: #55acee;
}

.social ul li.google-plus:hover{
	background-color: #dd4b39;
}

.social ul li.Instagram:hover{
	background-color: #e4405f;
}


.social ul li a{
	color: white;
	text-decoration: none;
}


.social ul li i{
	text-align: center;
	margin-left: 14px;
	color: black;
	background-color: white;
	padding: 9px;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	font-size: 20px;
	transform: rotate(0deg);
}


.social ul li:hover i{
	transform: rotate(360deg);
	transition: all 1s;
}


/* For socail media icon end */

/* FOR HOME SECTION */
.land_img{
    width:20vw;
    height: auto;
}

#home{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    top:8vh;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    align-content: center;
    justify-content: center;
 }

#intro{
	margin:0 auto;
    position: static;
    padding: 0 25px 0 0;
    height: fit-content;
    display: flex;
    margin-bottom:50px;
    box-shadow: 20px 20px 40px;
    background: rgb(68, 67, 67);
    opacity: 1;
	transition: 2s all ease-in-out;
}

.hero-content{
    position: relative;
    top: 2vh;
    left: -10%;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
    color: black;
}

.hero-content span{
    color: rgb(192, 47, 47);
}

.intro-appear{
    opacity: 0;
	transform: translateY(0px);
}

#home h1{
    font-size: 3.5vw;
    /* color: #950740; */
}
#home h5{
    font-size: 2vw;
    margin-left: 15%;
    width: 100%;
    /* color: #4E4E50; */
}

#home p{
    font-size: 1vw;
    /* color: #4E4E50; */
    margin-left: 15%;
    padding-bottom: 8px;
}


.heading{
    font-size: 5vw;
}
.button-container-home{
    position: absolute;
    display: flex;
    top: 58%;
    left: 42%;
    width:auto;
    justify-content: space-between;
}

.button {
    color: #000;
    background-color: darkgrey;
    padding: 1vh 2vh;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 5vh;
    width: 10vw;
    font-size: 1vw;
    border: 2px solid #000;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1:hover {
    background-color: rgb(68, 67, 67);
    color: white;
  }

  .button2 {
    margin-left: 2vw;
  }

  .button2:hover {
    background-color: rgb(68, 67, 67);
    color: white;
  }

/* FOR PROJECT SECTION */

#projects {
    position: relative;
    display: flex;
    margin-top: 8vh;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.project-container{
    position:relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.project-container section{
    position: relative;
    height: 100%;
    width: 50%;
}

.project-container .project-head{
    position: relative;
    width:50%;
    height: auto;
    text-align: left;
}

.project-container .project-head > h1{
    position: relative;
    margin: 30vh 3.5vw;
    font-size: 6vw;  
}

.project-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    padding: 10px;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /* background-color: lightblue; */
    /* border: 2px solid #000; */
    overflow-x: hidden;
}

.project-content container{
    position: relative;
    /* border: 2px solid #000; */
    height: 100%;
    width: 100%;
}

.project-content container > video{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:cover; 
    opacity: 1;
}


.proj-bth-container {
    z-index: 10;
    position: absolute;
    width:100%;
    height:100%;
    text-align:center;
    font-family:sans-serif;
}

.proj-btn {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    color: white;
    border-radius: 2px;
    transition: 0.3s;
}


/* BUTTON UP */
.label-up {
    position: relative;
    display:block;
    margin:0px 30px;
    height:100%;
    font-size: 2vw;
    position:relative;
    top: 40%;
    transition:0.3s;
}

.button-container-project{
    position: relative;
    display: flex;
    top: 5vh;
    width: 100%;
    justify-content: space-evenly;
}

.project-content > container:hover  span{
    top: -60%;    
}

.project-content > container:hover  video{
    opacity: 0.1;    
}

/* SECTION ABOUT ME START */

#aboutme{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

.aboutme-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* overflow-y: hidden; */
}

.aboutme-content > section{
    position: relative;
    background-color: coral;
    width:50%;
    height: auto;
    text-align: left;
}

.aboutme-content > section > h1 {
    position: relative;
    margin: 30vh 3.5vw;
    font-size: 6vw;
}

.aboutme-card{
    position: relative;
    width:50%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}



/* FOR SKILL SECTION */

#skills{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

.skill-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* overflow-y: hidden; */
}

.skill-content > section{
    position: relative;
    background-color: coral;
    width:50%;
    height: auto;
    text-align: left;
}

.skill-content > section > h1 {
    position: relative;
    margin: 30vh 3.5vw;
    font-size: 6vw;
}

.skill-card{
    position: relative;
    width:50%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.skill-card  section{
    position: relative;
    /* border: 2px solid #000; */
}

.skill-card  section > div{
    position: relative;
    background-color: aliceblue;
    width: 70%;
    height: auto;
    margin: 1% 20%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px; 
}

.skill-card  section > div > ul{
    position: relative;
    top: 2vh;
    left: 1vw;
    
}

.skill-card  ul li{
    list-style: none;
    font-size: 1.5vw;
    padding-top: 1px;
}

.skill-card  ul li p{
    position: relative;
    margin-left: 40px;
    top: -50px;
}

.skill-card  ul li img{
    position: relative;
    height: 40px;
    width: 40px;
    padding-right: 5px;
    margin-bottom: 10px;
}



/* FOR CONTACT ME SECTION */
#contact_me{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*
section#education {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;
}

section#experience {
    background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;
}

section#contact {
    background: url('https://images.unsplash.com/photo-1586850679688-4f36abf0a3b6?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixlib=rb-1.2.1&q=80&w=1600') no-repeat center center/cover;
} */
