@media screen and (max-width:1024px){
    .nav-links{
        width: 80%;
    }
}

@media screen and (orientation: portrait) /* , (max-width:550px)*/{ 
    body{
        overflow-x: hidden;
        /* background: #1b1b1e; */

    }
    .navbar{
        background: none;
    }
    .container{
        min-height: 350px;
    }
    .logo{
        margin-left: 0;
        font-size: 2.5vh;
        background-color: rgb(149, 151, 148);
        width: 55vw;
        text-align: center;
        margin-top: -3vh;
        height: 3vh;
        border-radius: 0 0 5vw 5vw;
    }

    .logo .bottom {
        min-width: 90%;
        padding: 1vh 1vw;
        top: 4.5vh;
        font-size: 60%;
    }
    section#home {
        /* z-index: -1; */
        align-content: center;
        justify-content: center;
        /* background: url('../photo/land_page_img.jpg') no-repeat center center/cover; */
    }
    .nav-links{
        position: absolute;
        right: 0px;
        top:0;
        height: 100vh;
        height: -webkit-fill-available;
        width: 38%;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background: rgb(0, 0, 0);
    }

    .nav-links li{
        opacity: 1;
        padding: 0;
        margin: 0 2vh;
    }

    .nav-links li a{
        font-size:2vh;
        letter-spacing: 2px;
    }

    .burger{
        position: absolute;
        z-index: 9999;
        right: 10px;
        height: auto;
        display: block;
        cursor: pointer;
    }

    .burger > div{
        height: 0.8vh;
        width: 8vw;
    }

    .nav-links {
        justify-content: space-evenly;
    }

    .social ul li{
        margin-left: -10px;
        /* margin: 15px 5px 5px 0; */
    }

    .social ul li i {
        margin-left: 9px;
        padding: 15%;
        width: 5vh;
        height: 5vh;
        font-size: 3vh;
    }

    #intro{
        padding: 0;
        display: flex;
        margin-top: -15%;
        height: auto;
        top: 0;
        border-radius: 1.5vh;
        width: min-content;
        flex-direction: column;
        opacity: 1;
    }

    .land_img{
        width: 70vw;
        align-self: center;
        border-radius: 1.5vh 1.5vh 0 0;
        height: auto;
    }
    .hero-content{
        position: relative;
        top: -4vh;
        left: 0;
        margin: 0;
        text-align: left;
        font-family: 'DM Sans', sans-serif;
        justify-content: center;
        color: black;
        width: 100%;
    }
    #home h1{
        color: black;
        margin: 5vh 3vw 0 3vw;
        font-size: 4vh;
    }

    #home h5{
        font-size: 1.5vh;
        width: 100%;
        margin: 0vh 3vw 0 3vw;
        /* color: #4E4E50; */
    }

    #home p{
        margin: 0vh 3vw 0 3vw;
        font-size: 1.25vh;
        width: 90%;
        padding-bottom: 8px;
    }

    .button-container-home{
        position: relative;
        display: flex;
        flex-direction: row;
        top: 1vh;
        left: 0%;
        width: 100%;
        justify-content: space-evenly;
    }
    
    .button {
        color: #000;
        background-color: darkgrey;
        border-radius: 2vh;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 1.5vh;
        height: 5vh;
        width: 40%;
        border: 2px solid #000;
        transition-duration: 0.4s;
        cursor: pointer;
      }
    .button2{
        margin-left: 0vw;
    }
    .button2 a {
        color: #000; 
        text-decoration: none;
        padding: 1vh 8vw;
        /* margin-top: 10px; */
    }

    #projects{
        flex-direction: column;
        background: none;
    }

    .project-content{
        grid-template-columns: auto;
        padding: 0;
        grid-gap: 3.5vw;
    }

    .project-container {
        flex-direction: column;
    }

    .project-container section{
        width: 85%;
        margin: 0 auto;
    }

    .project-container .project-section-name {
        position: relative;
        /* background-color: #38040e; */
        width: 100%;
        height: auto;
        text-align: left;
    }

    .project-head {
        margin: 7vh 0 1.5vh 10vw;
        font-size: 10vw;
        }

   
    .label-up {
        font-size: 3vh;
        font-weight: lighter;
        margin: 0px 4vw;
    }

    .button-container-project .button2 {
        margin-top: 0px;
        margin-left: 10px;
    }

    .project-content::-webkit-scrollbar{
        width: 12px;
        background-color: #F5F5F5;
    }

    .project-content::-webkit-scrollbar-thumb{
        border-radius: 10px;
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
        background-color: #555;
    }

    .button-container-project {
        top: 3vh;
    }

    #video section {
        grid-template-columns: auto;
        grid-template-rows: 30vh 70vh;
        /* grid-gap: 10px; */
        height: 100vh;
    }

    #video section video {
        width: 98vw;
        justify-self: center;
        align-self:center ;
        margin-top: 4vh;
    }

    #video section div {
        width: 98vw;
        font-size: 1.5vh;
        justify-self: center;
        align-self: baseline;
        overflow-y: hidden;
    }

    /* .proj-tools-used {
        margin-top: 2vh;
    } */

    .cross{
        top: 73vh;  
        left: 62vw;
        width: 35%;
        box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    }
    
    
    .cross img{
        width: 22%;
        align-self: center;
    }
    
    .cross p{
        font-size: 4vw;
    }
    
    .pop-up{
        position: absolute;
        background-color: rgba(233, 50, 46,0.8);
        display: block;
        z-index: 10;
        width: fit-content;
        top: 5%;
        left: 50%;
        opacity: 0;
        padding: 10px;
        border-radius: 25px;
        transform: translate(-50%, 0);
        transition : 1s all ease-in-out;
      }

    .proj-tools-used span {
        margin: 0.25vh 5vw;
        padding: 3px;
    }
    .proj-tools-used{
        top: 0;
    }
    #video section div p{
        top: 1vh;
        height: 99vh;
        font-size: 1.65vh;
    }

    /* .cross hr {
        width: 6vw;
    } */

    #video section video {
        height: 30vh;
        background-color: none;

    }

    #aboutme{
        flex-direction: column;
        background: none;
    }

    .aboutme-content{
        flex-direction: column;
    }

    .aboutme-left{
        /* background-color: #7A7A7A; */
        width: 100%;
        height: auto;
    }
    .aboutme-card{
        /* background-color: #8F8F8F; */
        width:100%;
    }

    .aboutme-card .aboutme-info {
        
        margin: 2.5vh auto;
    }

    .aboutme-card .aboutme-text {
        font-size: 2vh;
    }

    .aboutme-content .aboutme-left  h1 {
        position: relative;
        margin: 7vh 0 1.5vh 10vw;
        font-size: 10vw;
    }


    #skills{
        flex-direction: column;
    }

    .skill-content{
        flex-direction: column;
        margin-top: 0;
    }

    .skill-content .skill-section-name {
        position: relative;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .skill-head {
        position: relative;
        margin: 7vh 0 1.5vh 10vw;
        font-size: 10vw;
    }

    .skill-card{
        width:90%;
        margin: 0 auto;
        padding-top: 20px;
        /* background-color: #010820; */
    }

    .skill-card section > div {
        width: 95%;
        margin: 5% 2%;
    }

    .skill-card ul li {
        font-size: 2vh;
    }

    .skill-card ul li img {
        height: 5vh;
        width: auto;
    }

    .skill-card ul li p {
        margin-left: 13vw;
        top: -6vh;
    }



    #career{
        flex-direction: column;
    }

    .career-content{
        flex-direction: column;
    }

    .career-left{
        position: relative;
        /* background-color: #05080F; */
        width: 100%;
        height: auto;
        text-align: left;
    }
    
    .career-card{
        /* background-color: #1f1f1f; */
        margin: 0 5vw;
        width:90%;
    }

    .career-left h1 {
        margin: 7vh 0 1.5vh 10vw;
        font-size: 10vw;
    }

    .timeline ul li p {
       font-size: 2vh;
    }

    .timeline ul{
		display: block;
  	}
	.timeline::before{
		left:35px;
	}
	.timeline ul li:nth-child(even),
	.timeline ul li:nth-child(odd){
		width: 100%;
		text-align: left;
		padding-left: 50px;
		padding-bottom: 50px;
	}
	.timeline ul li:nth-child(odd):before,
	.timeline ul li:nth-child(even):before{
		top: 50px;
        left: 35px;
	}
		
	.timeline ul li:nth-child(odd) .time,
	.timeline ul li:nth-child(even) .time{
        top: 35px;
		left: 50px;
		right: inherit;
    }
    .timeline ul li .time h4 {
        font-size: 1.45vh;
    }

    .timeline ul li h3 {
        font-size: 2.2vh;
    }

    .content {
        padding-bottom: 20px;
        margin-top: 45px;
    }



    #contact{
        flex-direction: column;
    }

    .contact-content{
        flex-direction: column;
    }

    .contact-left{
        position: relative;
        /* background-color: #333333; */
        width: 100%;
        height: auto;
        text-align: left;
    }
    
    .contact-card{
        /* background-color: #1f1f1f; */
        width:100%;
        padding: 0;
    }

    .contact-head {
        position: relative;
        margin: 7vh 0 1.5vh 5vw;
        font-size: 10vw;
    }

    .contactme-container {
        padding: 0;
        width: 95%;
        margin-left: 5%;
    }

    .contact-left h1 {
        margin: 7vh 0 1.5vh 10vw;
        font-size: 10vw;
    }

    .contactme-container .row100 .inputbox {
        
        margin: 0 0;
    }
    .contactme-container .row100 .inputbox .text {
        line-height: 6vh;
        font-size: 1.5vh;
    }

    .contactme-container .row100 .inputbox input, 
    .intextarea{
	font-size: 2vh;
    }

    .contactme-container .row100 {
        grid-template-columns: auto;
    }
    

    .contactme-container .row100 .inputbox {
        width: 90%;
    }

    .contactme-container .row100 .col {
        margin: 0;
        margin-top: 6vh;
        margin-left: 5vw;
    }

    input[type="submit"] {
       
        padding: 7px 30px;
        font-size: 2.2vh;
    }
}   



#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* @media screen and (max-width: 640px) {

    .skill-content > section > h1 {
        margin: 6vh 0 1vh 0.5vw;
        font-size: 7vw;
    }

    .skill-card ul li p {
        margin-left: 38px;
        top: -40px;
        font-size: 2vh;
    }

    .aboutme-content > section > h1 {
        margin: 6vh 0 1vh 0.5vw;
        font-size: 7vw;
    }
    
}


@media (min-width: 640px) and (max-width: 1200px) {
    
    .skill-content > section > h1 {
        margin: 9vh 0 2vh 6vw;
        font-size: 5vw;
    }

    .skill-card ul li p {
        margin-left: 60px;
        font-size: 2vw;
    }

    .aboutme-content > section > h1 {
        margin: 6vh 0 2vh 6vw;
        font-size: 8vw;
    }
} */

@media (orientation: portrait),(max-width: 650px){

	/* .timeline ul{
		display: block;
  	}
	.timeline::before{
		left:35px;
	}
	.timeline ul li:nth-child(even),
	.timeline ul li:nth-child(odd){
		width: 100%;
		text-align: left;
		padding-left: 50px;
		padding-bottom: 50px;
	}
	.timeline ul li:nth-child(odd):before,
	.timeline ul li:nth-child(even):before{
		top: 50px;
        left: 35px;
	}
		
	.timeline ul li:nth-child(odd) .time,
	.timeline ul li:nth-child(even) .time{
        top: 35px;
		left: 50px;
		right: inherit;
    }
    .timeline ul li .time h4 {
        font-size: 1.25vh;
    }

    .timeline ul li h3 {
        font-size: 1.65vh;
    }

    .content {
        padding-bottom: 20px;
        margin-top: 45px;
    } */
}
