{% load static %}

<section id="aboutme">
	<div class="aboutme-content">
        <section>
            <h1 class="aboutme-head">About <br>Me</h1>
        </section>
        
        <div class="aboutme-card">

            
        </div>
    </div>

	<!-- <h6 class="projects-head">About Me</h6>
	<div class="timeline">
		<ul>
			<li>
				<div class="content">
					<h3>HELLO HOW ARE YOU</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
				</div>
				<div class="time">
					<h4>January 2018</h4>
				</div>
			</li>
			<li>
				<div class="content">
					<h3>HELLO HOW ARE YOU</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							
					</p>
				</div>
				<div class="time">
					<h4>January 2018</h4>
				</div>
			</li>
			<li>
				<div class="content">
					<h3>HELLO HOW ARE YOU</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								
					</p>
				</div>
				<div class="time">
					<h4>January 2018</h4>
				</div>
			</li>
			<div style="clear:both;"></div>
		</ul>
	</div> -->
</section>