{% load static %}

<section id="aboutme">
	<div class="aboutme-content">
        <section class="aboutme-left">
            <h1 class="aboutme-head">About<br>Me</h1>
        </section>
        
        <div class="aboutme-card">

			<section class="aboutme-info">
				<div class="aboutme-text">

                    <p>I'm Jason Britto, a Software Engineer and Web Developer from Mumbai, India. </p>
                    <p>My interest toward programming started during my High School with <span style="color: #E9322E;">"Hello World" </span>program in C++ 
                        and later slowly progressing with complex Algorithms and data Structures to handle problems.
                    <p>Shortly after graduating from Mumbai University (<a href="https://www.sfit.ac.in/" style="color: #2B6ABC ; text-decoration: none;" target="_blank">S.F.I.T.</a>), I joined the engineering team at <a href="https://newgensoft.com/" style="color: #2B6ABC; text-decoration: none;" target="_blank">Newgen Software</a> as Software Engineer where I spend most of my time designing new Business Processes using modern Programming Language (JAVA, JavaScript), Optimizing DB Queries and solving production Issues. </p>    
                    <p>I constantly keep a tap on new technologies and learn new skills. At present I am learning Django, React to develop modern mobile responsive websites, because
                        I strongly believe the value of continuous learning, keeps You Young in Mind, Body and Spirit.</p>    
                    <p>I even like to play badminton & Soccer, Paris Saint Germain(PSG) being my all time favorite club "Ici c'est Paris".</p>
                </div>

			</section>
            
        </div>
    </div>

</section>