{% load static %}

<section id="career">
	<div class="career-content">
        <section class="career-left">
            <h1 class="career-head">Where I've <br>Worked</h1>
        </section>
        
        <div class="career-card">

			<section class="career-info">


                <div class="timeline">
                    <ul>
                        <li>
                            <div class="content">
                                <h3>Software Engineer <a href="https://newgensoft.com/" class="company-name" target="_blank"> @ Newgen Software</a>  </h3>
                                <p style="text-align: left;">
                                    
                                        &bull; Developing moderately complex software, create and execute designs for small sets of new functionality.<br><br>
                                        &bull; Developing and modifying custom web services, to store documents in <a style="text-decoration: none; color: #2B6ABC;" href="https://newgensoft.com/products/enterprise-content-management/" target="_blank">OmniDocs</a> by using Java for Backend, HTML & CSS for front end and Oracle Sql to store states.<br><br>
                                        &bull; Used core Java and vanilla JavaScript for Backend to handle workitems (Documents/Requests) from case initiation to termination<br><br>
                                        &bull; Developed custom BAM(<a style="text-decoration: none; color: #2B6ABC;" href="https://newgensoft.com/products/business-process-management/advanced-reporting-monitoring/" target="_blank">Business Activity Monitoring</a>) reports using stored procedures, which returns columns and data from Database based on the date rage or conditions given by the user.<br><br>
                                        &bull; Worked on solving production issues and Optimizing query by adding required indexing, joins and understanding the query structure.
                                </p>
                            </div>
                            <div class="time">
                                <h4>Auguest 2019 - Present</h4>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Intern <a href="https://suvenconsultants.com/" class="company-name" target="_blank"> @ Suven Consultants</a>  </h3>
                                <p>
                                    
                                        &bull; Involved in design, development, testing, deployment, and maintenance of mobile applications<br><br>
                                        &bull; Android application development using java, XML, SQLite, Fragments<br><br>
                                        &bull; Worked on location-based Services - Google maps.<br><br>
                                        &bull; Focused on implementing a rich user interface and Google Material Design.<br><br>
                                        &bull; Created an Online Learning Platform with payment gateway
                                            and implemented the concept of fragments for better memory management<br><br>
                                    
                                </p>
                            </div>
                            <div class="time">
                                <h4>August 2018 - November 2018</h4>
                            </div>
                        </li>
 

                        <div style="clear:both;"></div>
                    </ul>
                </div>
            

			</section>
            
        </div>
    </div>

	
</section>