{% load static %}

<section id="career">
	<div class="career-content">
        <section class="career-left">
            <h1 class="career-head">Career <br>& Education</h1>
        </section>
        
        <div class="career-card">

			<section class="career-info">


                <div class="timeline">
                    <ul>
                        <li>
                            <div class="content">
                                <h3>Intern <a href="https://suvenconsultants.com/" class="company-name" target="_blank"> @ Suven Consultants</a>  </h3>
                                <p style="text-align: left;">
                                    
                                        &bull; Involved in design, development, testing, deployment, and maintenance of mobile
                                            applications<br><br>
                                        &bull; Android application development using java, XML, SQLite, Fragments<br><br>
                                        &bull; Worked on location-based Services - Google maps.<br><br>
                                        &bull; Focused on implementing a rich user interface and Google Material Design.<br><br>
                                        &bull; Created an Online Learning Platform with payment gateway
                                            and implemented the concept of fragments for better memory management<br><br>
                                    
                                </p>
                            </div>
                            <div class="time">
                                <h4>August 2018 - November 2018</h4>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Software Engineer <a href="https://newgensoft.com/" class="company-name" target="_blank"> @ Newgen Software</a>  </h3>
                                <p>
                                    
                                        &bull; Developing moderately complex software, create and execute designs for small sets of new functionality.<br><br>
                                        &bull; Programming well-designed, testable, efficient code<br><br>
                                        &bull; Closely working with BPMS and developing custom business processes.<br><br>
                                        &bull; Developing and modifying custom web services and API's according to the business requirements using Core Java, Javascript, MsSQL.<br><br>
                                    
                                </p>
                            </div>
                            <div class="time">
                                <h4>Auguest 2019 - Present</h4>
                            </div>
                        </li>

                        <div style="clear:both;"></div>
                    </ul>
                </div>
            

			</section>
            
        </div>
    </div>

	
</section>