{% load static %}

<section id="contact">
    <div class="contact-content">
        <section class="contact-left">
            <h1 class="contact-head">Contact <br> Me</h1>
        </section>
        
        <div class="contact-card">
            <div class="contactme-container">
                <div class="row100">
                    <div class="col">
                        <div class="inputbox">
                            <input type="text" name="" required="">
                            <span class="text">First Name</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputbox">
                            <input type="text" name="" required="">
                            <span class="text">Last Name</span>
                            <span class="line"></span>
                        </div>
                    </div>		
                </div>
        
                <div class="row100">
                    <div class="col">
                        <div class="inputbox">
                            <input type="text" name="" required="">
                            <span class="text">Email</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputbox">
                            <input type="text" name="" required="">
                            <span class="text">Mobile</span>
                            <span class="line"></span>
                        </div>
                    </div>		
                </div>
        
                <div class="row100">
                    <div class="col">
                        <div class="inputbox textarea">
                            <textarea class="intextarea" required="required"></textarea>
                            <span class="text">Type your Message</span>
                            <span class="line"></span>
                        </div>
                    </div>		
                </div>
        
                <div class="row100">
                    <div class="col">
                        <input type="submit" name="" value="send">
                    </div>		
                </div>
                
            </div>
        </div>
</section>