{% load static %}

<section id="contact">
    <div class="contact-content">
        <section class="contact-left">
            <h1 class="contact-head">Get in<br>Touch</h1>
        </section>
        
        <div class="contact-card">
            <div class="contactme-container">
                <div class="row100">
                    <div class="col">
                        <div class="inputbox">
                            <input type="text" name="" required="" id="first-name">
                            <span class="text" >First Name</span>
                            <span class="line" ></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputbox">
                            <input type="text" name="" required="" id="last-name">
                            <span class="text" >Last Name</span>
                            <span class="line" ></span>
                        </div>
                    </div>		
                </div>
        
                <div class="row100">
                    <div class="col">
                        <div class="inputbox">
                            <input type="text" name="" required="" id="subject">
                            <span class="text" >Subject</span>
                            <span class="line" ></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputbox">
                            <input type="number" name="" required="" id="mobile-number">
                            <span class="text" >Mobile</span>
                            <span class="line" ></span>
                        </div>
                    </div>		
                </div>
        
                <div class="row100">
                    <div class="col">
                        <div class="inputbox textarea" style="height: auto;">
                            <textarea class="intextarea" required="required" WRAP="HARD" id="message"></textarea>
                                <span class="text" >Type your Message</span>
                                <span class="line" ></span>
                        </div>
                    </div>		
                </div>
        
                <div class="row100">
                    <div class="col">
                        <input type="submit" id = "send-email"name="" value="Send">
                    </div>		
                </div>
                
            </div>
        </div>
</section>