{% load static %}

<section id="home" >
    <div id = "intro" class="intro">
        <img src="{% static '/photo/landing_page2.jpg' %}" alt="" class="land_img">
        <div class="hero-content">
            <h1>Hi! I'm<span style="color: #E9322E;"> Jason</span>,</h1>
            <h5>Web Developer | Software Engineer.</h5>
            <p>Data Science | Web Design | Business Process Managememt.</p>
            
            <div class="button-container-home">
                <!-- <a href="{% static '/docs/Jason_resume.pdf' %}" download="Jason's Resume"> -->
                    <button class="button button1" onclick="window.open( '{% static '/docs/Jason_resume.pdf'%}')">Resume</button>
                <!-- </a> -->
                <!-- <a href="#projects" > onclick="location.href = '#projects'" -->
                    <button  class="button button2"> 
                        <a href = "#projects">Projects</a>
                    </button>
                <!-- </a> -->
            </div>
        
        </div>
        
            
    </div>
     
</section>