{% load static %}

<section id="home" >
    <div id = "intro" class="intro">
        <img src="{% static '/photo/landing_page2.jpg' %}" alt="" class="land_img">
        <div class="hero-content">
            <h1><span>Hi, <br>I'm</span> Jason,</h1>
            <h5>Web Developer | Software Engineer.</h5>
            <p>Data Science | Web Design | Business Process Managememt.</p>
            
            <div class="button-container-home">
                <button class="button button1">Resume</button>
                <button class="button button2">Contact Me</button>
            </div>
        
        </div>
        
            
    </div>
     
</section>