{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width ,height=device-height,initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <title>Welcome Buddy</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/style_mobile.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <style>
            @font-face {
              font-family: 'LilitaOne-Regular';
              src: local('LilitaOne-Regular'),
                   url("{% static 'fonts/LilitaOne-Regular.ttf' %}");
            }

            @font-face {
              font-family: 'Roboto-Regular';
              src: local('Roboto-Regular'),
                   url("{% static 'fonts/Roboto-Regular.ttf' %}");
            }
        </style>
        
    </head>
    <body>
        {% include 'jason_profile/navigation.html' %}
        
        <div class = "container" id="parent-container">

            
            
            {% include 'jason_profile/home.html' %}
            
            {% include 'jason_profile/about.html' %}
            
            {% include 'jason_profile/skills.html' %}

            {% include 'jason_profile/projects.html' %}

            {% include 'jason_profile/career.html' %}

            {% include 'jason_profile/contact_me.html' %}

        </div>
        
        <script src="{% static '/js/main.js' %}"></script>
    </body>
    <footer>

    </footer>
    
</html>