{% load static %}

<nav class = "navbar" id="mynavbar">
    <div class = "logo" >
        <h4>Jason Britto</h4>
    </div>
    <ul class = "nav-links">
        <li><a href = "#home">Home</a></li>
        <li><a href = "#aboutme">About Me</a></li>
        <li><a href = "#skills">Skills</a></li>
        <li><a href = "#projects">Projects</a></li>
        <li><a href = "#career">Career</a></li>
        <li><a href = "#contact">Contact</a></li>
    </ul>
    <div onclick="" class="burger">
        <div onclick="" class="line1"></div>
        <div onclick="" class="line2"></div>
        <div onclick="" class="line3"></div>
    </div>
</nav>

<nav class="social">
    <ul>
        <li class="linkedin">
            <a href="https://www.linkedin.com/in/jasonbritto/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <ul>
        <li class="facebook">
            <a href="https://www.facebook.com/jason.britto.79" target="_blank"> 
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <ul>
        <li class="github" >
            <a href="https://github.com/john9088" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <ul>
        <li class="Instagram" >
            <a href="https://www.instagram.com/jasonbritto88/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>
