{% load static %}

<nav class = "navbar" id="mynavbar">
    <div class = "logo" >
        <h4>Jason Britto</h4>
    </div>
    <ul class = "nav-links">
        <li><a href = "#home">Home</a></li>
        <li><a href = "#projects">Projects</a></li>
        <li><a href = "#aboutme">About Me</a></li>
        <li><a href = "#skills">Skills</a></li>
        <li><a href = "#career">Career</a></li>
        <li><a href = "#contact">Contact</a></li>

    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<nav class="social">
    <ul>
        <li class="twitter">
            <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <ul>
        <li class="facebook">
            <a href="#"> 
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <ul>
        <li class="google-plus">
            <a href="#">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <ul>
        <li class="Instagram">
            <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>
