{% load static %}

<section id="projects">
    <div class="project-container">

        <!-- <section class="project-head">
            <h1 class="project-hero">Project</h1>
        </section> -->

        <section class="project-section-name">
            <h1 class="project-head">Projects</h1>
        </section>

        <section class="project-content">
            <container class="proj1">
                
                <div class="proj-bth-container">
                    <div class="proj-btn">
                        <span class="label-up">Smart Driver Alert System</span>
                        <!-- <span class="label-up">View Project ------</span> -->
                        <span class="label-up">
                            <div class="button-container-project">
                                <button class="button button1">View Code</button>
                                <button class="button button2">Demo</button>
                            </div>
                        </span>
                    </div>
                </div>
                
                
                <video class="video-proj1" src="{% static '/video/proj1.mp4'%}" autoplay muted loop /> 
            </container>
            
            <container class="proj2">
                
                <div class="proj-bth-container">
                    <div class="proj-btn">
                        <span class="label-up">Smart Driver Alert System</span>
                        <!-- <span class="label-up">View Project ------</span> -->
                        <span class="label-up">
                            <div class="button-container-project">
                                <button class="button button1">View Code</button>
                                <button class="button button2">Demo</button>
                            </div>
                        </span>
                    </div>
                </div>
                
                
                <video class="video-proj1" src="{% static '/video/proj2.mp4'%}" autoplay muted loop />
            </container>
            
            <container class="proj3">
                
                <div class="proj-bth-container">
                    <div class="proj-btn">
                        <span class="label-up">Smart Driver Alert System</span>
                        <!-- <span class="label-up">View Project ------</span> -->
                        <span class="label-up">
                            <div class="button-container-project">
                                <button class="button button1">View Code</button>
                                <button class="button button2">Demo</button>
                            </div>
                        </span>
                    </div>
                </div>
                
                
                <video class="video-proj1" src="{% static '/video/proj3.mp4'%}" autoplay muted loop />
            </container>
            
            <container class="proj4">
                
                <div class="proj-bth-container">
                    <div class="proj-btn">
                        <span class="label-up">Smart Driver Alert System</span>
                        <!-- <span class="label-up">View Project ------</span> -->
                        <span class="label-up">
                            <div class="button-container-project">
                                <button class="button button1">View Code</button>
                                <button class="button button2">Demo</button>
                            </div>
                        </span>
                    </div>
                </div>
                
                
                <video class="video-proj1" src="{% static '/video/proj3.mp4'%}" autoplay muted loop />
            </container>
        </section>
    </div>
    
</section>