{% load static %}

<section id="projects">
    <h6 class="projects-head">Personal Projects</h6>
    <div class="project-container">
        <!-- <div class="carosel">


			<div class="slider">
				<section > 
                    <video class="video" autoplay muted loop>
                        <source src="{% static '/video/proj1.mp4'%}" type="video/mp4">
                    </video>
                    <div class="blur-container"></div>
                    <p class="proj-title" >Smart Diver Alert system using Image processing and Neural networks</p>
                    <div class="container-3">
                        <div class="btn btn-three">
                          <span >BUTTON THREE</span>
                        </div>
                    </div>
                </section>
				<section>
                    <video class="video" autoplay muted loop>
                        <source src="{% static '/video/proj2.mp4'%}" type="video/mp4">
                    </video>
                    <div class="blur-container"></div>
                    <p class="proj-title" >Smart Diver Alert system using Image processing and Neural networks</p>
                    <div class="container-3">
                        <div class="btn btn-three">
                          <span >BUTTON THREE</span>
                        </div>
                    </div>
                </section>
				<section>
                    <video class="video" autoplay muted loop>
                        <source src="{% static '/video/proj3.mp4'%}" type="video/mp4">
                    </video>
                    <div class="blur-container"></div>
                    <p class="proj-title" >Smart Diver Alert system using Image processing and Neural networks</p>
                    <div class="container-3">
                        <div class="btn btn-three">
                          <span >BUTTON THREE</span>
                        </div>
                    </div>
                </section>
				<section>
                    <video class="video" autoplay muted loop>
                        <source src="{% static '/video/proj3.mp4'%}" type="video/mp4">
                    </video>
                    <div class="blur-container"></div>
                    <p class="proj-title" >Smart Diver Alert system using Image processing and Neural networks</p>
                    <div class="container-3">
                        <div class="btn btn-three">
                          <span >BUTTON THREE</span>
                        </div>
                    </div>
                </section>
			</div>
            
            
            <div class="controls">
				<span class="arrow left">
					<span class="material-icons" style="font-size: 40px">keyboard_arrow_left</span>			
				</span>
				<span class="arrow right">
					<span class="material-icons" style="font-size: 40px">keyboard_arrow_right</span>
				</span>
				<ul>
					<li class="selected"></li>
					<li></li>
					<li></li>
					<li></li>

				</ul>

			</div>   
        </div> -->
   
        <div class="proj">
            <div class="blur-container"></div>
            <video class="video" autoplay muted loop>
                <source src="{% static '/video/proj1.mp4'%}" type="video/mp4">
            </video>
        </div>
        <div class="proj">
            <div class="blur-container"></div>
            <video class="video" autoplay muted loop>
                <source src="{% static '/video/proj2.mp4'%}" type="video/mp4">
            </video>
            
        </div>
        <div class="proj">
            <div class="blur-container"></div>
            <video class="video" autoplay muted loop>
                <source src="{% static '/video/proj3.mp4'%}" type="video/mp4">
            </video>
            
        </div>   
    </div>
    
</section>