{% load static %}

<section id="projects">
    <div class="project-container">

        <section class="project-head">
            <h1 class="project-hero">Project</h1>
        </section>

        <section class="project-content">
            <container class="proj1">
                
                <div class="proj-bth-container">
                    <div class="proj-btn">
                        <span class="label-up">Smart Driver Alert System</span>
                        <span class="label-up">View Project ------></span>
                    </div>
                </div>
                
                
                <video src="https://storage.coverr.co/videos/S01qF7gwbqboCk2Dd7802CGGIHHF5DUQUX?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6IjExNDMyN0NEOTRCMUFCMTFERTE3IiwiaWF0IjoxNTkwNDAxODc4fQ.yINMeNcyk0YQUrknWVfDunZ7ZGrP1mFHB_vQikjhD4c" class="video-proj1"/> 
            </container>
            
            <container class="proj2">
                
                <div class="proj-bth-container">
                    <div class="proj-btn">
                        <span class="label-up">Smart Driver Alert System</span>
                        <span class="label-up">View Project ------></span>
                    </div>
                </div>
                
                
                <video src="https://storage.coverr.co/videos/S01qF7gwbqboCk2Dd7802CGGIHHF5DUQUX?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6IjExNDMyN0NEOTRCMUFCMTFERTE3IiwiaWF0IjoxNTkwNDAxODc4fQ.yINMeNcyk0YQUrknWVfDunZ7ZGrP1mFHB_vQikjhD4c" class="video-proj1"/>
            </container>
            
            <container class="proj3">
                
                <div class="proj-bth-container">
                    <div class="proj-btn">
                        <span class="label-up">Smart Driver Alert System</span>
                        <span class="label-up">View Project ------></span>
                    </div>
                </div>
                
                
                <video src="https://storage.coverr.co/videos/S01qF7gwbqboCk2Dd7802CGGIHHF5DUQUX?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6IjExNDMyN0NEOTRCMUFCMTFERTE3IiwiaWF0IjoxNTkwNDAxODc4fQ.yINMeNcyk0YQUrknWVfDunZ7ZGrP1mFHB_vQikjhD4c" class="video-proj1"/>
            </container>
            
            <container class="proj4">
                
                <div class="proj-bth-container">
                    <div class="proj-btn">
                        <span class="label-up">Smart Driver Alert System</span>
                        <span class="label-up">View Project ------></span>
                    </div>
                </div>
                
                
                <video src="https://storage.coverr.co/videos/S01qF7gwbqboCk2Dd7802CGGIHHF5DUQUX?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6IjExNDMyN0NEOTRCMUFCMTFERTE3IiwiaWF0IjoxNTkwNDAxODc4fQ.yINMeNcyk0YQUrknWVfDunZ7ZGrP1mFHB_vQikjhD4c" class="video-proj1"/>
            </container>
        </section>
    </div>
    
</section>