{% load static %}

<section id="skills">
    <div class="skill-content">
        <section class="skill-section-name">
            <h1 class="skill-head">Skills</h1>
        </section>
            
        
        <div class="skill-card">

            <section class="language">
                <div>
                    <ul>
                        <li>
                            <img src="/static/icon/icons8-python-50-2.png"> 
                            <p>Python</p>
                        </li>
                        <li><img src="/static/icon/icons8-java-50.png"><p>Java</p></li>
                        <li><img src="/static/icon/icons8-c-50.png"><p>Language</p></li>
                    </ul>
                </div>
            </section>
        
            <section class="web-technologies">

                <div>
                    <ul>
                        <li><img src="/static/icon/icons8-html-5-50-2.png"><p>HTML5</p></li>
                        <li><img src="/static/icon/icons8-css3-50.png"><p>CSS3</p></li>
                        <li><img src="/static/icon/icons8-javascript-50-2.png"><p>JavaScript</p></li>
                        <li><img src="/static/icon/icons8-jquery-50-2.png"><p>JavaScript</p></li>
                        <li><img src="/static/icon/icons8-django-50-2.png"><p>Django</p></li>
                    </ul>
                </div>

            </section>
            
            <section class="data-science">
                <div>
                    <ul>
                        <li><img src="/static/icon/icons8-sql-50.png"><p>Oracle SQL</p></li>
                        <li><p>Numpy</p></li>
                        <li><p>Pandas</p></li>
                        <li><p>Matplot Lib</p></li>
                        
                    </ul>
                </div>
            </section>

            <section class="others">
                <div>
                    <ul>
                        <li><img src="/static/icon/icons8-git-50-2.png"><p>GIT</p></li>
                        <li><img src="/static/icon/icons8-android-os-50.png"><p>Android Studio</p></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>